* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* .header {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 38px;
} */

.navigate {
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 38px 200px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img {
    width: 86px;
    height: 40px;
}

.logo-title {
    font-size: 45px;
    font-weight: 700;
}

.logo-title span {
    color: #FF42A5;
}

nav>ul {
    list-style: none;
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

#follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 10px 24px;
}

a {
    text-decoration: none;
    color: #3C354F;
}

.banner1 {
    display: flex;
    justify-content: space-between;
    padding: 38px 200px;
    background-image:url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    
}
.banner-content{
    /* background-image:url(../images/Group\ 14.png); */
    /* background-repeat: no-repeat; */
    
}

.banner-title {
    font-size: 48px;
    font-weight: 600px;
    color: #0B0223;
    margin-top: 100px;
}

.banner-des {
    font-size: 95px;
    font-weight: 800px;
    color: rgba(206, 69, 211, 0.801);
    margin-bottom: 24px;
}

.banner-content ul li {
    display: flex;
    gap: 12px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500px;
    margin-bottom: 15px;
    
}

.primary-btn, .second-btn {
    border-radius: 48px;
    background: #FF42A5;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    border: none;
    margin-top: 30px;
    /* margin-bottom: 140px; */
}
.second-btn{
    background: #4EC5F7;
}

.banner-img img {
    width: 600px;
    position: relative;
    left: 20px;
}

.banner2{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 70px 200px;
    background-color:  rgba(255, 66, 165, 0.03);
}

.banner2-content{
    text-align: right;
}
.banner2-title{
    color: #8758F1;
    font-size: 48px;
    font-weight: 700px;
}

.banner2-des{
    width: 520px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400px;
    margin-top: 24px;
}

.banner2-content h4{
    color: #534C64;
    font-size: 32px;
    font-weight: 700px;
}

.banner2-img img{
    width: 750px;
}

.online-game{
    text-align: center;
}
.online-game-title{
    font-size: 48px;
    font-weight: 700px;
    color: #0B0223;
}
.online-game-title span{
    color: #FF42A5;
}

.online-game-des{
    color: #534C64;
    font-size: 18px;
    font-weight: 400px;
    margin-top: 16px;
}
.card-container{
    display: flex;
    gap: 24px;
    padding: 70px 200px;
    
}
.card img{
    width: 300px;
    
    
}
.card{
    position: relative;
}

.card img:hover{
    border: 5px solid #FF42A5;
    border-radius: 10px;
    opacity: 0.9;
    background: rgba(0, 0, 0, 0.60);
    filter: brightness(50%);
    
}
.img-text{
    
    position: absolute;
  top: 40%;
  left: 35%; 
  /* transform: translate(-50%, -50%); */
  
  /* padding: 10px; */
  font-size: 16px;
  color: #FF42A5; 
  visibility: hidden; 
 
}
.img-text img{
    width: 48px;
}
.card:hover .img-text{
    visibility: visible;
    
}
.card-text{
    text-align: left;
    font-size: 20px;
    font-weight: 500px;
    margin-top: 24px;
}