* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* .header {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 38px;
} */

.navigate {
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 38px 200px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img {
    width: 86px;
    height: 40px;
}

.logo-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.logo-title span {
    color: #FF42A5;
}

nav>ul {
    list-style: none;
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

#follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 10px 24px;
}

a {
    text-decoration: none;
    color: #3C354F;
}

.banner1 {
    display: flex;
    justify-content: space-between;
    padding: 38px 200px;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;

}

.banner-content {
    /* background-image:url(../images/Group\ 14.png); */
    /* background-repeat: no-repeat; */

}

.banner-title {
    font-size: 48px;
    font-weight: 600px;
    color: #0B0223;
    margin-top: 100px;
}

.banner-des {
    font-size: 95px;
    font-weight: 800px;
    color: rgba(206, 69, 211, 0.801);
    margin-bottom: 24px;
}

.banner-content ul li {
    display: flex;
    gap: 12px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500px;
    margin-bottom: 15px;

}

.primary-btn,
.second-btn {
    border-radius: 48px;
    background: #FF42A5;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    border: none;
    margin-top: 30px;
    /* margin-bottom: 140px; */
}

.second-btn {
    background: #4EC5F7;
}

.banner-img img {
    width: 600px;
    position: relative;
    left: 20px;
}

.banner2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 70px 200px;
    background-color: rgba(255, 66, 165, 0.03);
}

.banner2-content {
    text-align: right;
}

.banner2-title {
    color: #8758F1;
    font-size: 48px;
    font-weight: 700px;
}

.banner2-des {
    width: 520px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400px;
    margin-top: 24px;
}

.banner2-content h4 {
    color: #534C64;
    font-size: 32px;
    font-weight: 700px;
}

.banner2-img img {
    width: 750px;
}

.online-game {
    text-align: center;
}

.online-game-title {
    font-size: 48px;
    font-weight: 700px;
    color: #0B0223;
}

.online-game-title span {
    color: #FF42A5;
}

.online-game-des {
    color: #534C64;
    font-size: 18px;
    font-weight: 400px;
    margin-top: 16px;
}

.card-container {
    display: flex;
    gap: 24px;
    padding: 70px 200px;

}

.card img {
    width: 300px;


}

.card {
    position: relative;
}

.card img:hover {
    border: 5px solid #FF42A5;
    border-radius: 10px;
    opacity: 0.9;
    background: rgba(0, 0, 0, 0.60);
    filter: brightness(50%);

}

.img-text {

    position: absolute;
    top: 40%;
    left: 35%;
    /* transform: translate(-50%, -50%); */

    /* padding: 10px; */
    font-size: 16px;
    color: #FF42A5;
    visibility: hidden;

}

.img-text img {
    width: 48px;
}

.card:hover .img-text {
    visibility: visible;

}

.card-text {
    text-align: left;
    font-size: 20px;
    font-weight: 500px;
    margin-top: 24px;
}

.instant-play {
    display: flex;
    justify-content: space-between;
    gap: 265px;
    padding: 70px 200px;
    padding-bottom: 20px;
}

.play-content {
    text-align: right;
    margin-top: 200px;
    
}
.play-title{
    font-size: 48px;
    font-weight: 700px;
    color: #0B0223;
}
.play-title span{
    color: #F948B2;
}

#img1 {
    width: 600px;
}

#img2{
    position: relative;
    top: -290px;
    left: -145px;
}
.game-container1, .game-container2{
    display: flex;
    justify-content: space-evenly;
}
.game-container2{
    margin: 40px 100px 0px 100px;

}
.category{
    text-align: center;
    padding: 0px 200px;
    margin-bottom: 200px;
}
.category-name{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
    border-radius: 40px;
    padding-right: 20px;
    
}

.category h4{
    font-size: 20px;
    font-weight: 800px;
    margin-left: 16px;
}

.category img{
    width: 50px;
    height: 50px;
}

.category-name:hover{
    border: 1px solid #FF42A5;
    border-radius: 40px;
    padding-right: 20px;
    
}
.footer{
    
    background-color: #0B0223;
    text-align: center;
    padding: 100px 200px;
}
.footer div h3{
    
    color:#FF42A5;
    
}
.footer div h3 span{
    color: #FFF;
}
.footer .logo{
    margin: 0 500px;
    
}

.footer{
    text-align: center;
}
#footer-logo{
    justify-content: center;
}

.support, .social-link, .settings{
    display: flex;
    justify-content: center;
    gap:60px;
    margin-top: 60px;
}
.support h4{
    color: #FFF;
    font-size: 18px;
}
.social-link{
    gap:40px
}
.settings, .copyright p{
    color: rgba(255, 255, 255, 0.60);;
}
.copyright{
    margin-top: 50px;
}






/* Media query */
@media screen and ( max-width: 467px) {
    .navigate{
        text-align: center;
        flex-direction: column;
        align-items: center;
        padding-right: 100px;
        padding-left: 100px;
    }
    nav>ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 62px;
    }
    .banner1{
        align-items: center;
        justify-content: center;
        padding: 20px 100px;
        flex-direction: column-reverse;
        background-position: bottom;
    }
    .banner-img img{
        width: 300px;
        right:40px;
        position: relative;
    }
    
}